@use 'sass:math';

:root {
	--title-font: 'Inter', sans-serif;
	--main-font: 'Inter', sans-serif;

	--white: #FFF;
	--white-2: #EEEFEA;
	--black: #000;
	--black-2: #2F2F2F;
	--black-3: #252525;
	--black-3-2: rgba(37, 37, 37, 0.5);
	--primary-1: #1D4829;
	--primary-1-light: #275C36;
	--accent: #CF5D28;
	--accent-hover: #dd703d;
	--accent-active: #c2521e;

	--container-padding: 15px;
}

html, body {
	font-size: 16px;
	min-height: 100%;
	min-width: 320px;
}

body {
	font-family: var(--main-font);
	
	font-weight: 400;
	line-height: 150%;

	display: flex;
	flex-direction: column;
	color: var(--black-3);

	padding-right: var(--popup-padding);
	

	&._mob-menu-active {
		overflow: hidden;
	}

	&._popup-active {
		overflow: hidden;
	}
	
}

@keyframes fadeOut {
	from {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
	to {
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
}

.preloader {
	position: fixed;
	left: 0; top: 0;
	width: 100%; height: 100%;
	background: var(--black-3);
	z-index: 6;
	display: flex;
	align-items: center;
	justify-content: center;
	&__logo {
		font-weight: 600;
		font-size: 2.5rem;
		line-height: 115%;
		letter-spacing: -0.05em;
		color: var(--white-2);
		overflow: hidden;
		span {
			display: inline-block;
			transform: translate3d(0,100%,0);
			transition: transform .2s ease;
		}
	}

	&._loading &__logo span {
		transform: translate3d(0,0%,0);
	}

	&._loaded &__logo span {
		transform: translate3d(0,-100%,0);
	}

	&._loaded {
		animation: fadeOut 0.6s ease 0.2s 1 normal forwards;
	}
}

section {
	position: relative;
	z-index: 2;
}

.wrapper {
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;

	background: var(--white-2);
	padding-right: var(--popup-padding);
}

.main {
	overflow: hidden;

	flex: 1 0 auto;
	position: relative;
}

.container {
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
	
	@media (min-width: #{$container}px) {
		padding-left: max(var(--container-padding), calc(50% - #{math.div($container, 2)}px));
		padding-right: max(var(--container-padding), calc(50% - #{math.div($container, 2)}px));
	}
}

.btn {
	cursor: pointer;

	display: inline-flex;
	align-items: center;

	svg {
		margin-right: 10px;
		fill: var(--accent);
	}
	
	padding: 9.5px 29.5px;
	font-weight: 600;
	font-size: 0.75rem;
	line-height: 141.666667%;
	text-align: center;
	letter-spacing: -0.04em;
	text-transform: uppercase;

	background: var(--black-3);
	color: var(--white-2);

	border-radius: 100px;

	transition: background .3s ease;
	&:hover {
		background: var(--accent);
	}
	
	&:active {
		background: var(--accent-active);
		transition: background .2s ease;
	}

	&._disabled {
		opacity: 0.3;
		pointer-events: none;
	}
	&._light {
		background: var(--white-2);
		color: var(--accent);
		transition: opacity .3s ease;
		&:hover {
			opacity: 0.9;
		}
		
		&:active {
			opacity: 0.85;
			background: var(--white-2);
			transition: opacity .2s ease;
		}
	}
}

.visually-hidden {
	position: absolute;
	width: 1px; height: 1px;
	margin: -1px; padding: 0;
	border: 0;
	
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.noise-decor {
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	background: 0 0 / 700px repeat;
	//mix-blend-mode: color;
	pointer-events: none;
	opacity: .05;
	z-index: 2;
}

.primary-bg {
	background: var(--primary-1);
}
