.faq {

	//z-index: 3;
	@include _768 {
		padding-bottom: 100px;
		grid-template-columns: 290px auto;
		gap: 0 47px;
	}

	@include _992 {
		padding-top: 200px; padding-bottom: 147px;
	}

	padding-top: 125px; padding-bottom: 30px;

	display: grid;
	grid-template-columns: auto auto;

	// .faq__section-name

	&__section-name {
		font-weight: 600;
		font-size: 0.75rem;
		line-height: 142%;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		color: var(--white-2);
		display: inline-block;
		max-width: 150px;

		margin-top: 5px;
		@include _768 {
			margin-top: 20px;
		}
	}

	// .faq__title

	&__title {
		grid-column: 2;
		justify-self: self-end;
		@include _550 {
			justify-self: self-start;
		}
	}

	// .faq__list

	&__list {
		padding-top: 20px;
		grid-column: 2 span;
		@include _768 {
			grid-column: 2; grid-row: 2 span;
		}
		counter-reset: faq_list_number;
	}

	// .faq__item

	&__item {

		color: var(--white-2);
		cursor: pointer;

		padding: 26px 0;
		@include _992 {
			padding: 30px 0;
		}
		border-bottom: 1px solid rgba(238, 239, 234, 0.2);

		&:nth-child(-n + 9) &--number::before {
			content: "/0"counter(faq_list_number);
		}

		// .faq__item--question

		&--question {
			display: flex;
			

			@include _768 {
				align-items: center;
			}
		}

		// .faq__item--number

		&--number {
			
			&::before {
				display: none;

				counter-increment: faq_list_number;
				content: "/"counter(faq_list_number);

				margin-right: 20px;
				font-weight: 600;
				
				@include _768 {
					font-size: 1.125rem;
					display: inline-block;
				}
				
				@include _992 {
					font-size: 1.25rem;
					width: 30px;
				}
				line-height: 110%;
				letter-spacing: -0.05em;
			
			}
			
		}

		// .faq__item--title

		&--title {
			font-weight: 600;
			font-size: 1.125rem;
			
			@include _992 {
				font-size: 1.25rem;
			}
			padding-right: 20px;
			line-height: 110%;
			letter-spacing: -0.05em;

			flex: 1 1 auto;
		}

		// .faq__item--btn

		&--btn {
			flex: 0 0 34px;
			display: flex;
			width: 34px; height: 34px;
			border-radius: 50%;
			border: 2px solid var(--white-2);
			background: transparent;
			&:hover {
				background: rgba(238, 239, 234, 0.2);
			}
			
			&:active {
				background: rgba(238, 239, 234, 0.3);
			}

			transition: background .2s ease;
			position: relative;

			&::before, &::after {
				content: '';
				position: absolute;
				left: 50%; top: 50%;
				transform: translate(-50%,-50%);
				width: 50%; height: 2px;
				background: var(--white);

				transition: opacity .2s ease, background .2s ease;
			}

			&::before {
				transform: translate(-50%,-50%) rotate(90deg);
			}

			
		}

		&._active &--btn {
			background: var(--white-2);
			&::after {
				background: var(--black-3);
			}
			&::before {
				opacity: 0;
			}
		}

		// .faq__item--answear

		&--answear {

			font-weight: 500;
			font-size: 0.9375rem;
			line-height: 146.666667%;
			letter-spacing: -0.05em;

			height: 0;
			overflow: hidden;
			padding-top: 10px;
			@include _768 {
				padding-left: 50px;
			}
			p {
				padding-top: 10px;
				max-width: 604px;
			}
		}
	}

	// .faq__block

	&__block {

		grid-column: 2 span;
		display: flex;
		justify-content: center;
		margin-top: 20px;
		justify-self: center;

		@include _768 {
			grid-column: 1;
			margin-top: 0;
		}

		// .faq__block--folder

		&--folder {
			max-width: 400px;

			p {
				&:not(:first-child) {
					padding-top: 20px;
				}
				@include _768 {
					&:not(:first-child) {
						padding-top: 0;
					}
				}
			}
		}
	}
}
