.hero {

	min-height: calc(var(--svh,1vh) * 100);
	@include _992 {
		min-height: 100vh;
	}
	padding-top: calc(var(--height-header) + 100px);

	display: flex;
	align-items: flex-end;

	z-index: 5;

	// .hero__bg

	&__bg {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		user-select: none; pointer-events: none;
		z-index: -1;
		overflow: hidden;

		display: flex;
		flex-direction: column;
		align-items: center;

		background: #ccc;
		// .hero__bg--poster

		&--poster {
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;

			transition: opacity 1s ease, visibility 1s ease;
			background: 0 0 / cover no-repeat;
			/* img {
				position: absolute;
				left: 0; top: 0;
				width: 100%; height: 100%;
				object-fit: cover;
			} */
		}

		&._loaded & {
			&--poster {
				opacity: 0; visibility: hidden;
			}

			&--video {
				opacity: 1;
			}
		}

		// .hero__bg--video

		&--video {
			min-width: 100%; flex: 1 1 auto;
			opacity: 0;
		}
	}

	// .hero__content

	&__content {

		width: 100%;

		position: relative;
		z-index: 2;

		display: flex;
		flex-direction: column;
		@include _768 {
			align-items: center;
			justify-content: space-between;
			flex-direction: row;
		}

		padding-bottom: 20px;
		
		&--block {
			display: flex;
			align-items: flex-end;

			@include _768 {
				align-self: center;
				flex-direction: column;
				align-items: flex-start;

				padding: 5% 0 25px 0;
				max-width: 232px;
			}

			padding: 14px 0;
		}

		// .hero__content--text

		&--text {
			font-weight: 600;
			font-size: 0.8125rem;
			@media (min-width: 360px) {
				font-size: 0.9375rem;
			}
			line-height: 133%;
			letter-spacing: -0.05em;
			color: var(--black-3);

			padding-right: 20px;

			@include _768 {
				padding-right: 0;
				p {
					&:not(:first-child) {
						margin-top: 15px;
					}
				}
			}

			flex: 1 1 auto;
		}

		// .hero__content--btn

		&--btn {
			margin-top: 20px;
			@include _992 {
				margin-top: 50px;
			}
		}
	}

	// .hero__title

	&__title {
		white-space: nowrap;
		@include _768 {
			padding-right: 49px;
		}
	}
}
