.schedule {

	z-index: 4;
	
	position: relative;
	padding-top: calc(var(--svh,1vh) * 100); margin-top: calc(var(--svh,1vh) * -100);	
	@include _992 {
		
		padding-top: 100vh; margin-top: -100vh;	
		position: relative;
	}

	
	overflow: hidden;

	//padding-top: 100svh; margin-top: -100svh;	
	

	// .schedule__bg

	&__bg {
		position: absolute;
		left: 0; bottom: 0;
		width: 100%; height: 100%;
		z-index: 3;
		user-select: none; pointer-events: none;
		background: var(--white-2);
		//transform: translate(0,-100%);
		
		//transform: translate(0,-100svh);
		@include _992 {
			position: absolute;
			transform: none;
			background: transparent;
		}
		//transform: translate(0,-100%);

		&--wrapper {
			position: absolute;
			left: 0; bottom: 100%;
			//transform: translate(0,50);
			width: 100%; height: max(calc((var(--svh,1vh) * 100) + 100px), 667px); //max(calc((var(--svh,1vh) * 100) + 100px), 667px)
			background: var(--white-2);
			z-index: 2;
			//transform: translate(0,-100%);
			
			@include _992 {
				height: 100vh;
				transform: translate(0,100%);
			}
		}

		&--image {
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: max(calc((var(--svh,1vh) * 100) + 100px), 667px); //max(calc((var(--svh,1vh) * 100) + 100px), 667px)
			//transform: translate(0,100%);
			@include _992 {
				height: 100vh;
			}
			overflow: hidden;

			picture {
				display: block;
				position: absolute;
				left: 0; top: 0;
				width: 100%; height: 100%;

			}

			img {
				position: absolute;
				left: 0; top: 0;
				transform: translate(0,13%);
				@include _550 {
					transform: translate(0,13%);
				}
				width: 100%; height: 100%;
				object-fit: cover;
			}
		}
	}

	// .schedule__title

	&__title {
		position: absolute;
		width: 100%; height: max(calc((var(--svh,1vh) * 100) + 100px), 667px);

		display: flex;
		align-items: center;
		justify-content: center;

		font-family: var(--title-font);
		font-weight: 600;
		line-height: 100%;

		
		font-size: 3.3125rem;
		letter-spacing: -0.07em;

		@include _768 {
			font-size: 6.3125rem;
		}

		@include _992 {
			font-weight: 500;
			font-size: 8rem;
			letter-spacing: -0.08em;
			height: 100vh;
		}

		@include _container {
			font-size: 13.375rem;
		}

		color: rgba(197, 198, 193, 0.5);
	}

	// .schedule__list

	&__list {
		position: relative;
		z-index: 3;

		display: flex;
		flex-direction: column;

		padding-top: calc(var(--svh, 1vh) * 80); padding-bottom: calc(var(--svh, 1vh) * 20);
		@include _992 {
			padding-top: 35%; padding-bottom: 100px;
			padding-left: 5%; padding-right: 5%;
		}
	}

	// .schedule__card

	&__card {
		max-width: 85%;
		margin-top: 60px;
		@include _550 {
			max-width: 320px;
		}
		//transition: filter 0.2s ease;

		&:nth-child(even) {
			align-self: self-end;
		}

		&:nth-child(6n + 7), &:nth-child(1) {
			/* opacity: .3;
			align-self: center; */
		}

		&:nth-child(6n + 8), &:nth-child(2) {
			
			@include _768 {
				align-self: self-end;
				margin-top: -50px;
			}
		}

		&:nth-child(6n + 9), &:nth-child(3) {
			
			@include _768 {
				align-self: center;
				margin-top: 140px;
			}
			
		}

		&:nth-child(6n + 10), &:nth-child(4) {
			@include _768 {
				margin-top: 183px;
				align-self: self-end;
			}
			
			
		}

		&:nth-child(6n + 11), &:nth-child(5) {
			@include _768 {
				margin-top: 64px;
				align-self: self-start;
			}
			
			
		}

		&:nth-child(6n + 12), &:nth-child(6) {
			@include _768 {
				margin-top: 154px;
				align-self: center;
			}
			
			
		}
	}
}

.folder-card {

	transition: filter .1s ease;

	&._light & {
		&__header {
			svg {
				fill: var(--white-2);
			}
			color: var(--black-3);
		}

		&__name {
			background: var(--white-2);
			color: var(--black-3);
			
		}

		&__main {
			background: var(--white-2);
			color: var(--black-3);

			p {
				font-weight: 500;
				font-size: 0.9375rem;
				line-height: 147%;
				letter-spacing: -0.05em;
				@include _768 {
					font-size: 0.75rem;
					line-height: 114%;
					letter-spacing: -0.04em;
				}
				
				color: var(--black-3);
			}

			a {
				display: inline-block;
				margin-top: 19px;

				font-weight: 600;
				font-size: 1.25rem;
				line-height: 110%;
				letter-spacing: -0.05em;
				padding-bottom: 2px;

				color: var(--accent);
				border-bottom: 2px solid transparent;

				transition: border-color .2s ease;
				&:hover {
					border-color: var(--accent);
				}
				
				&:active {
					border-color: var(--accent-active);
				}

			}
		}

		
	}

	// .folder-card__header

	&__header {
		padding-left: 10px;
		& svg {
			flex: 0 0 45px;
			width: 45px; height: 38px;
			fill: var(--accent);
			margin-right: -1px;
			transform: translate(0,17px);
		}

		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}

	// .folder-card__name

	&__name {
		display: flex;
		align-items: center;
		background: var(--accent);

		padding: 11px 25px 0 10px;
		margin-bottom: -2px;
		border-radius: 0 10px 0 0;
		height: 23px;

		font-weight: 600;
		font-size: 0.75rem;
		line-height: 115%;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		color: var(--white-2);
	}

	&__main {
		background: var(--accent);
		border-radius: 10px 0 10px 10px;

		padding: 22px;
		@include _550 {
			padding: 30px;
		}
		color: var(--white-2);

		span, time {
			font-weight: 600;
			font-size: 0.75rem;
			line-height: 141.666667%;
			letter-spacing: -0.04em;
			text-transform: uppercase;
		}

		h3 {
			margin-top: 10px;
			font-weight: 600;
			font-size: 1.125rem;
			
			@include _768 {
				font-size: 1.25rem;
			}
			
			line-height: 110%;
			letter-spacing: -0.05em;
		}
	}

	// .folder-card__text

	&__text {
		
	}

	// .folder-card__footer

	&__footer {
		margin-top: 26px;

		display: grid;
		grid-template-columns: 1fr 1fr;

		> * {
			align-self: center;
		}
	}

	// .folder-card__btn

	&__btn {
		justify-self: self-start;
		margin-right: 10px;
		&._light {
			color: var(--accent);
		}
	}

	// .folder-card__seats

	&__seats {
		justify-self: center;
		&::before {
			content: '/';
			margin-right: 5px;
		}
	}
}
